# Logs e.g. npm-error logs (npm-debug.log)
*.log

# npm-installed modules
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules/

# JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion
*.idea/
*.iml

# OSX Folder metadata
.DS_Store

# coverage
coverage/

# ES5: transpiled output
# Deprecation: remove these non-\n-interleaved lines below
dist/
.test/
